apache-airflow==2.8.1
connexion[swagger-ui]
Flask<2.3.0
SQLAlchemy<2.0.0
Werkzeug<3.0.0
protobuf<5.0.0
tqdm==4.66.1
scikit-learn==1.6.1
mlflow==2.22.0
dagshub>=0.3
dvc
pandas==2.2.2
numpy>=1.24
seaborn==0.12.2
cryptography

# Deep Learning
torch==2.3.0
# torch==2.3.0+cu121 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.18.0
matplotlib
plotly
evidently==0.6.7
prometheus_client>=0.17.1