# Ignoriere alles außer dem Nötigen
__pycache__/
*.pyc
airflow/
data/
!data/predictions/
!data/predictions/predicted_titles.csv
!data/predictions/predicted_titles.html
!data/predictions/predictions.csv
.git/
.venv/